---
export interface Props {
  title : string
  descr : string
  type : string
  link : string
  from : string
  to : string
}

const {title, descr, type, link, from, to } = Astro.props

---



<div class=`sm:w-1/2 md:w-2/5 grow h-32 mr-8 mb-8 rounded-lg p-8`>
  <!-- <div class="flex flex-col rounded-lg bg-stone-900 items-center justify-center w-full h-full"> -->
    <!-- <a href={link} class="text-xl font-bold text-stone-200">{title}</a> -->
    <!-- <p class="text-md">{type}</p> -->
    <!-- <p class="text-md">{descr}</p> -->
  <!-- </div> -->
</div>