---
export interface Props {
  title : string
  array : string[]
  color : Palette
}

const { title, array, color } = Astro.props
---

<div class="">
  <h2 class=`text-xl ${color.main_color} mb-4 font-bold`>{title}</h2>
  <div class=`flex flex-row flex-wrap py-2 ${color.secondary_color} justify-start`>
    {array.map(item => <p class="w-24 md:mr-16 mr-4 mb-4">{item}</p>)}
  </div>
</div>